
body{
    width:80%;
    margin-left:auto;
    margin-right:auto;          /* center page */
    font-family: Arial;         /* change font type */
    background-color: white;  /* change background color */
    clear:both;
}

p{
  text-align: left;
  clear:both;
}
h1{
  text-align:center;
  padding-left: 50px;
}
h2{
  text-align:center;
}

h3 {
    clear:both;
}
header {
    background-color: black;
    color: white;
    text-align:center;
    padding:5px;
}

nav{
    background-color: white;
}

nav ul {
    list-style: none;
    background-color: green;
    text-align: center;
    padding: 5;
    margin: 5;
}

nav li {
  text-align: center;
    padding: 8px;
  /*
  font-family: 'Arial', sans-serif;  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  */
}

nav li {
  text-align: : center;
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
}


li a {
  text-align: center;
  text-decoration: none;
  color: black;
  /* transition: .3s background-color; */
}
 
ul{
  text-align: center;
  border: 3px solid black;
}
li {
  text-align: center;
  display: inline;
  margin-left: 30px; 
  padding-right: 30px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center
}

img {
  max-width: 100%;
  height:192px;
  width:256px;
}

.image {
  flex-basis: 40%
}

.text {
  font-size: 20px;
  padding-left: 20px;
}



#headpic {
    display: block;
    width: 50%;
}


.column {
    flex: 33.33%;
    padding: 5px;
}

.row {
    display: flex;
}